<section>
                    
    <ul class="nav nav-pills">
        <li ng-class="{ active:panel.isSelected(1) }"> 
            <a href ng-click="panel.selectTab(1)">Description</a>
        </li>

        <li ng-class="{ active:panel.isSelected(2) }"> 
            <a href ng-click="panel.selectTab(2)">Specifications</a> 
        </li>
        <li ng-class="{ active:panel.isSelected(3) }"> 
            <a href ng-click="panel.selectTab(3)">Reviews</a>
        </li>
    </ul>

    <div class="panel" ng-show="panel.isSelected(1)">
        <h4>Description</h4>
        <p>{{product.description}}</p>
    </div>
    <div class="panel" ng-show="panel.isSelected(2)">
        <h4>Specifications</h4>
        <blockquote>None Yet</blockquote>
    </div>
    <div class="panel" ng-show="panel.isSelected(3)">
<!-- Current Review will be displayed -->
        <h4>Reviews</h4>                        
        <blockquote ng-repeat="review in product.reviews">
            <b>Stars: {{review.stars}}</b><br/>
            {{review.body}}<br/>
            <cite class="clearfix">by: {{review.author}}</cite>
        </blockquote>

<!-- Adding a new Review with LIVE PREVIEW -->
        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" 
              ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)"  novalidate>
    <!-- This is the snip for the live preview -->
            <blockquote>
                <strong>{{reviewCtrl.review.stars}} Stars</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">>-{{reviewCtrl.review.author}}</cite>
            </blockquote>
            <select class="form-control" ng-model="reviewCtrl.review.stars" required>
                <option value="1">1 Star</option>
                <option value="2">2 Star</option>
                <option value="3">3 Star</option>
                <option value="4">4 Star</option>
                <option value="5">5 Star</option>
            </select><br/>
            <textarea class="form-control" ng-model="reviewCtrl.review.body"></textarea>
            <br/>
            <label>by:</label>
            <input type="email" class="form-control" ng-model="reviewCtrl.review.author"
                   required name="author"  />
            <div>
        <!-- This need to be the name fo the form that is being vailidated -->
                Review Form is {{reviewForm.$valid}}
            </div>
            <input type="submit" value="Submit" class="btn btn-primary pull-right" />
        </form>
    </div>
</section>